#container--mcq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container--answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

#container--answers li {
    list-style-type: none;
    border-style: solid;
}