#container--mcq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container--answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#container--answers li {
  list-style-type: none;
  border-style: solid;

  width: 200px;
  height: 100px;
  padding: 20px 30px;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  #container--answers {
    grid-template-columns: repeat(1, 1fr);
  }
}
