#container--mcq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container--answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 1em; */
  grid-row-gap: 2em;  
  width: 100%
}

#container--answers li {
  list-style-type: none;
  border-style: solid;
  border-color: black;

  width: 200px;
  height: 100px;
  padding: 5%;
  text-align: center;
  justify-self: center;
  align-self: center;
}

#button--continue {
  display: none;
}

#container--answers li:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 470px) {
  #container--answers {
    grid-template-columns: repeat(1, 1fr);
  }
}
